In [1]:
# 필요 라이브러리 호출하기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('default')

In [2]:
entry_data = pd.read_csv('entry_data.csv')
sales_data = pd.read_csv('sales_data.csv')
item_data = pd.read_csv('item_data.csv')
item_entry_data = pd.read_csv('item_entry_data.csv')

In [3]:
# entry_data 데이터 정보 확인하기
entry_data.head()

,요금제명,입실,퇴실,이용,위치,금액,구분,고객
0,시간요금제(1시간),2022-04-01 23:39,2022-04-02 0:39,오전 1:00:00,선불기2,3000,퇴실,customer263717
1,시간요금제(1시간),2022-04-01 23:39,2022-04-02 0:39,오전 1:00:00,선불기2,3000,퇴실,customer263717
2,무제한 입장권,2022-04-01 20:55,2022-04-01 21:41,오전 12:46:00,선불기2,7400,퇴실,customer247263
3,무제한 입장권,2022-04-01 20:55,2022-04-01 21:41,오전 12:46:00,선불기2,7400,퇴실,customer247263
4,한국대생 무제한 입장권,2022-04-01 19:54,2022-04-01 22:28,오전 2:33:00,선불기2,7400,퇴실,customer388928

In [4]:
# sales_data 데이터 정보 확인하기
sales_data.head()

,결제일시,판매위치,상품명,결제방식,비고,판매수량,결제금액,고객
0,2022-04-01 19:41,선불기1,치킨카라아케 6pc,신용카드,결제완료,1,"4,500",customer275507
1,2022-04-01 19:41,선불기1,짜장라면(계란추가),신용카드,결제완료,1,"5,500",customer275507
2,2022-04-01 19:41,선불기1,라면,신용카드,결제완료,1,"4,000",customer275507
3,2022-04-01 19:41,선불기1,비엔나소세지(토핑),신용카드,결제완료,1,"1,000",customer275507
4,2022-04-01 19:41,선불기1,라면(계란/치즈추가),신용카드,결제완료,1,"5,000",customer275507

In [5]:
# item_entry_data 데이터 정보 확인하기
item_entry_data.head()

   순위     분류        상품명    판매금액
0   1   한국대생   한국대생 요금제  2,000원
1   2  심야-조조  심야-조조 요금제  5,000원
2   3    일반인      일반요금제  2,500원
3   4   한국대생   한국대생 요금제  2,500원
4   5    일반인      일반요금제  2,000원

In [34]:
temp_var['date'] = sales_data['결제일시'].str[:7]

In [20]:
temp_var['date'].head()

0    2022-04
1    2022-04
2    2022-04
3    2022-04
4    2022-04
Name: date, dtype: object

In [31]:
# sales_data의 결제금액에 포함된 쉼표(,) 지우기
# [[YOUR CODE]]

# sales_data의 결제금액을 숫자형태로 바꾸기
# [[YOUR CODE]]

# temp_var의 결제금액열을 date 기준으로 집계하기
# [[YOUR CODE]]



sales_data['결제금액']=sales_data['결제금액'].str.replace(",",'').astype(int)

AttributeError: Can only use .str accessor with string values!

In [23]:
item_entry_data['결제금액']=sales_data['결제금액'].str.replace(",",'').astype(int)

AttributeError: Can only use .str accessor with string values!

In [28]:
payment_data = temp_var.groupby('date')['결제금액'].sum().reset_index()

In [29]:
payment_data

       date     결제금액
0   2021-02     7000
1   2021-03  2104500
2   2021-04  3116600
3   2021-05  2537000
4   2021-06  3621500
5   2021-07  1215000
6   2021-08  1229000
7   2021-09  1197500
8   2021-10  2138500
9   2021-11  2748500
10  2021-12  3290000
11  2022-01  1430500
12  2022-02  1181500
13  2022-03  1870900
14  2022-04    49900

In [32]:
# '판매수량'이 -1이 아닌 데이터만 선택
valid_sales_data = temp_var[temp_var['판매수량'] != -1]

# '상품명' 열에 대해 value_counts 메서드를 사용하여 상품별 판매 횟수를 계산
product_sales_count = valid_sales_data['상품명'].value_counts()

# 결과를 데이터프레임으로 변환
product_sales_df = product_sales_count.reset_index()

# 열 이름을 변경
product_sales_df.columns = ['상품명', '판매횟수']

# 상위 10개 상품을 선택
top10_products = product_sales_df.head(10)

   순위     분류        상품명    판매금액
0   1   한국대생   한국대생 요금제  2,000원
1   2  심야-조조  심야-조조 요금제  5,000원
2   3    일반인      일반요금제  2,500원
3   4   한국대생   한국대생 요금제  2,500원
4   5    일반인      일반요금제  2,000원