In [5]:
import pandas as pd

df = pd.read_excel("2023_bigcontest.xlsx")

In [6]:
df

,테이블정의서,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,파일명,NaN,sac_data,NaN,NaN,NaN
1,테이블설명,NaN,예술의전당 공연예매정보,NaN,NaN,NaN
2,No.,컬럼ID,컬럼명,타입,NaN,비고
3,1,age,나이,bigint,Y,"10살 단위 / 80세 이상은 모두 80, 10세 이하는 모두 10"
4,2,gender,성별,text,Y,NaN
5,3,membership_type_1,멤버십종류1,text,Y,한 회원당 복수개의 멤버십 등록이 가능
6,4,membership_type_2,멤버십종류2,text,Y,NaN
7,5,membership_type_3,멤버십종류3,text,Y,NaN
8,6,membership_type_4,멤버십종류4,text,Y,NaN
9,7,membership_type_5,멤버십종류5,text,Y,NaN
10,8,membership_type_6,멤버십종류6,text,Y,NaN
11,9,tran_date,예매 거래일자,text,N,YYYYMMDD
12,10,tran_time,예매 거래시간,text,N,HHMM
13,11,play_date,공연날짜,text,N,YYYYMMDD
14,12,play_st_time,공연시작시간,text,N,HHMM
15,13,seat,좌석번호,text,N,NaN
16,14,price,최종예매가격,bigint,N,천원 단위
17,15,ticket_cancel,예매취소여부,text,N,"2 : 예매취소, 0 : 예매취소하지 않음"
18,16,discount_type,할인내역,text,Y,NaN
19,17,performance_code,공연명 코드,text,N,NaN
20,18,pre_open_date,선예매시작일,text,Y,YYYYMMDD
21,19,open_date,예매시작일,text,Y,YYYYMMDD
22,20,genre,장르,text,Y,NaN
23,21,place,공연장소,text,N,NaN
24,22,running_time,러닝타임,bigint,Y,단위 : 분
25,23,intermission,휴게시간,bigint,Y,단위 : 분 / 30분 이상 값 모두 30
26,24,member_yn,회원여부,text,N,"Y : 예술의전당 회원, N : 비회원"